* {
  box-sizing: border-box;
}

html,
#app {
  height: 100%;
}

body {
  height                    : 100%;
  margin                    : 0;
  -webkit-text-size-adjust  : 100%;
  -webkit-overflow-scrolling: touch;
}

// 解决iPhone输入框阴影
input {
  background                 : none;
  outline                    : none;
  border                     : none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-appearance            : button;
  -webkit-appearance         : button;
  appearance                 : button;
}